
<!--     {{media | json }} -->
    <!-- <div class="container" style="margin-top: 30px;">
    <div class="row" >

        <div class="col-lg-3"  *ngFor="let m of media">
            <div class="col-lg-1">
                <img src="../assets/heart.svg"  width=25px >
                
                <img src="../assets/dislike.svg" width="25px">
            </div>
            
            <div class="col-lg-2" >
                <img src="../assets/comment.svg" width=25px>
            </div>
                <div class="card">
                    <img src="{{m.url}}" width="300vw" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ m.title }}</h5>
                    </div>
                </div>
            </div>
    </div>
</div>

<br><br> -->

<div style="padding: 10px; margin: 0px 0px 0px 90px;">


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#myMedia"> My Media </a>
        </li>
    </ul>

    <div class="row">
        <div class="card" style="width: 16rem; margin: 15px;" *ngFor="let p of media">
            <div class="row">
                <div class="col col-sm-3">
                    <img src="../assets/heart.svg" width=25px>
                </div>
                <div class="col col-sm-3">
                    <img src="../assets/dislike.svg" width="25px">
                </div>
                <div class="col col-sm-3">
                    <img src="../assets/comment.svg" width=25px>
                </div>

            </div>

            <div style="height: 280px;"><br>
                <img class="card-img-top" [routerLink]="['/mediadetails']"  (click) = "getId(p.id)" src="{{p.url}}" alt="Card image cap" width="50" height="250">
            </div>
            <div class="card-body">
                <h5 style="text-align: center;" class="card-title">{{p.title}}</h5>
            </div>
        </div>