<div class="container-fluid">
<div class="row" style="margin-top: 30px;">
  <div class="col-lg-3" style="font-size: 5vh">
    <div class="bg-light border-right" id="sidebar-wrapper">
        
      <a [routerLink]="['/newsfeed']" class="list-group-item btn list-group-item">News Feed</a>
      <a [routerLink]="['/blockuser']" class="list-group-item btn list-group-item ">Blocked Accounts</a>
      <a [routerLink]="['/accountdetails']" class="list-group-item btn list-group-item ">Account update</a>
      <a [routerLink]="['/search']" class="list-group-item btn list-group-item ">Search</a>
      <a [routerLink]="['/login']" (click)="logout()" class="list-group-item btn list-group-item ">Logout</a>

  </div>
  </div>

  <div class="col-9 col-md-8" style="font-size: 2.4vh">
    <div class="row">

      <h4>Coming Soon .................. V 2.0</h4>
    </div>
  </div>
  <!-- 
      <div class="col-lg-3">
        <div class="card">
          <img src="../assets/avatar1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1>Username</h1>
            <button class="btn btn-danger btn-lg btn-block" value="Block">Block</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <img src="../assets/avatar1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1>Username</h1>
            <button class="btn btn-danger btn-lg btn-block" value="Block">Block</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3">

        <div class="card">
          <img src="../assets/avatar1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1>Username</h1>
            <button class="btn btn-danger btn-lg btn-block" value="Block">Block</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row">

      <div class="col-lg-3">
        <div class="card">
          <img src="../assets/avatar1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1>Username</h1>
            <button class="btn btn-danger btn-lg btn-block" value="Block">Block</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <img src="../assets/avatar1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1>Username</h1>
            <button class="btn btn-danger btn-lg btn-block" value="Block">Block</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <img src="../assets/avatar1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h1>Username</h1>
            <button class="btn btn-danger btn-lg btn-block" value="Block">Block</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->